button {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid transparent;

  &.btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  &.btn-warning{
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  &.btn-danger{
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  &.btn-info{
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

#alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;

  .alert-box {
    position: relative;
    margin-top: 30px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 20px;
    word-break: break-all;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #000;
    opacity: 0;
    animation: fadeOutUp 0.1s ease-in;

    &.alert-success {
      background-color: #e4f1da;
      color: #468847;
    }
    &.alert-danger {
      background-color: #d10000;
      color: #fff;
    }
    &.alert-warning {
      background-color: #f0ad4e;
    }
    &.alert-info {
      background-color: #5bc0de;
    }
    &.alert-open {
      opacity: 1;
      animation: fadeInDown 0.3s ease-out;
    }
  }
}
